.section {
    align-items: center;
    margin: 20px auto 0px auto;
    justify-content: center;
    max-width: 1920px;
}

.section_titles {
    display: flex;
    flex-direction: row;
}

.title {
    font-size: 36px;
    align-items: center;
    line-height: 1.08349;
    font-weight: 300;
    color: var(--main-text-color);
    letter-spacing: -.004em;
    display: flex;
    margin: 40px auto 40px 20px;
}

.slider {
    min-height: 230px;
    /* width: calc(100% - 2*20px); */
    font-size: 12px;
    text-align: center;
}


@media (max-width: 950px) {

    .section {
        align-items: center;
        margin: 0px 20px 20px 20px;
        justify-content: center;
    }

    .slider {
        min-height: 230px;
        width: 100%;
        font-size: 12px;
        text-align: center;
    }

    .title {
        font-size: 32px;
    }
}

@media (min-width: 1920px) {
    .section {
        align-items: center;
        margin: auto;
        max-width: 1920px;
    }
}