.content {
    display: flex;
    height: 100%;
}

.avatarbov {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 30px;
    width: 30px;
    padding: 0;
    justify-content: center;
    border-radius: 30px;
}