.loader_main {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    /* Зафиксировать на экране */
    top: 0;
    left: 0;
    width: 100vw;
    /* Полная ширина экрана */
    height: 100vh;
    /* Полная высота экрана */
    z-index: 1000;
    /* Поверх всех элементов */
    /* Фон для затемнения */
}

.logoL {
    z-index: 1010;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.item {
    display: flex;
    margin: auto;
    position: relative;
    justify-content: center;
    align-items: center;
}

.loader {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-top: 2px solid var(--gray-main);
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}