.content {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Для Chrome, Edge, Safari */
content::-webkit-scrollbar {
    display: none;
}

/* Для Firefox */
html {
    scrollbar-width: none;
    /* Убирает скролл-бар */
}

.main {
    /* padding-top: 310px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: calc(100% - 300px);
}

.h3 {
    line-height: 1.08349;
    font-weight: 300;
    color: var(--main-text-color);
    letter-spacing: .020em;
    margin: 20px auto 10px auto;
    line-height: 1.08349;
    font-size: 24px;
}

.img {
    margin-top: 0px;
    height: 300px;
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    object-fit: cover;
    /* position: fixed; */
    top: 0px;
}

.number {
    font-weight: 600;
    color: var(--gold);
    font-size: 30px;
}

.list {
    margin: 20px 20px 10px 20px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.list_items {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.h4 {
    font-size: 15px;
    font-weight: 600;
    color: var(--gold);
    padding: 0px;
    margin: 0px;
}

.text {
    font-size: 14px;
    color: var(--gray-main);
    font-weight: 400;
    line-height: 15px;
    margin: 0px;
}

/* Маленькие экраны: до 576px */
@media (max-width: 576px) {
    .img {
        height: 210px;
    }
}

/* Низкое среднее: от 576px до 768px */
@media (min-width: 576px) and (max-width: 768px) {
    /* Стили для низкого среднего диапазона */
}

/* Средние экраны: от 768px до 992px */
@media (min-width: 768px) and (max-width: 992px) {}

/* Высокое среднее: от 992px до 1200px */
@media (min-width: 992px) and (max-width: 1200px) {
    /* Стили для высокого среднего диапазона */
}

/* Большие экраны: от 1200px до 1920px */
@media (min-width: 1200px) and (max-width: 1920px) {
    /* Стили для больших экранов */
}

/* Очень большие экраны: более 1920px */
@media (min-width: 1921px) {
    /* Стили для ультрашироких и больших экранов */
}