.content {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    margin: 0px 20px 20px 20px;
    row-gap: 10px;
}

.h3 {
    font-size: 18px;
    font-weight: 600;
    color: var(--gold);
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 20px auto 10px 0px;
}

.date {
    color: var(--hover-blue);
    display: flex;
    font-size: 12px;
    margin: 5px auto 0px 0px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.item {
    display: flex;
    flex-direction: column;
    background: var(--main-background);
    border-radius: 5px;
    position: relative;
}

.itemtotal {
    display: flex;
    flex-direction: column;
    background: var(--main-background);
    border-radius: 5px;
    position: relative;
    min-height: 30px;
}

.h4 {
    font-size: 12px;
    margin: 5px auto 5px 10px;
    color: var(--gold);
    font-weight: 400;

}

.meal {
    font-size: 10px;
    font-weight: 400;
    color: var(--gray-main);
    padding: 0px;
    margin: 0px auto 5px 10px;
}

.groupItems {
    display: flex;
    flex-direction: column;
    gap: 5px;
    /* border-bottom: solid 0.5px var(--gray-main); */
}

.grouptotal {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 20px auto 10px 0px;
}

.grouptitle {
    border-right: 1px solid var(--gold);
    font-size: 14px;
    padding-right: 20px;
    justify-content: center;
    text-align: center;
}

.totaltitles {
    border-right: 1px solid var(--gold);
    font-size: 14px;
    padding-right: 20px;
    justify-content: center;
    text-align: center;
    margin-left: 20px;
}

.totallist {
    display: flex;
    flex-direction: row;
    margin: auto auto auto 0px;
    gap: 10px;
    justify-content: left;
    padding: 0px;
}

.totaldaylist {
    display: flex;
    flex-direction: row;
    margin: auto auto auto 0px;
    align-items: center;
    gap: 10px;
    justify-content: left;
    padding: 0px;
}

.components {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 80%;
    margin: 5px auto 10px 10px;
}

.comp_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.comp_h5 {
    padding: 0;
    margin: 0px auto 5px auto;
    font-weight: 700;
    color: var(--gray-main);
}

.comp_value {
    font-size: 10px;
}

.kcal {
    position: absolute;
    padding: 0px;
    font-size: 14px;
    color: var(--hover-blue);
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
}

@media (max-width: 768px) {

    .h3 {
        font-size: 19px;
        font-weight: 300;
        margin: 0;
        padding: 0;
        margin: 20px auto 0px 0px;
    }

    .item {
        font-size: 10px;
    }


    .h4 {
        font-size: 10px;
    }

    .grouptotal {
        margin: 20px auto 10px 0px;
        align-items: center;
        justify-content: center;
        display: flex;
        text-align: center;
    }

    .grouptitle {
        font-size: 10px;
        margin: auto 0px auto 0px;
    }

    .totaltitles {
        font-size: 10px;
        margin: auto 0px auto 10px;
    }

    .totallist {
        font-size: 8px;
        margin: auto auto auto 0px;
        padding: 0px;
        justify-content: center;
        text-align: center;
    }

    .totaldaylist {
        font-size: 8px;
        margin: auto auto auto 0px;
        padding: 0px;
        justify-content: center;
        text-align: center;
    }

    .components {
        width: 70%;
    }

    .comp_h5 {
        font-size: 8px;
        margin: 0px auto 5px auto;
    }

    .comp_value {
        font-size: 8px;
    }

    .kcal {
        font-size: 13px;
    }


}