.account_settings {
    margin: 0px auto 0px;
    justify-content: center;
    max-width: 1920px;
    width: calc(100% - 2*20px);
}

.title {
    font-size: 36px;
    font-weight: 300;
    margin: 60px auto 20px 0px;
    padding: 0;
}

.content {
    max-width: 1150px;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
}

.info_block {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 20px;
    border-bottom: var(--gray-main) solid 1px;
    position: relative;
}

.h3 {
    color: #CACACA;
    font-size: 20px;
    padding: 0;
    margin: 20px auto 20px 0px;
    font-weight: 700;
}

.general {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.main_process {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.avatar_user {
    display: flex;
    object-fit: contain;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 30%;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.avatarbox {
    width: 80px;
    height: 80px;
    padding: 0;
    border-radius: 100%;
    margin: 0 auto 0 auto;
    border: var(--border-light);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    cursor: pointer;
}


.avatarbox:hover {
    opacity: 0.7;
}

.process {
    display: flex;
    flex-direction: row;
    gap: 15px;
    width: calc(100% - 220px);
    justify-content: space-between;
}

.item_grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 70%;
}

.list {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 25px;
}

.h4 {
    color: #CACACA;
    font-size: 16px;
    padding: 0;
    margin-bottom: 20px;
    font-weight: 700;
    justify-content: center;
    align-items: center;
}

.username {
    font-size: 16px;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 10px auto 0px auto;
}

.id {
    padding: 0;
    margin: 0;
}

.item {
    min-width: 150px;
    font-size: 14px;
    margin: 0px;
    align-items: center;
    color: var(--gray-main);
}

.buttons {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    gap: 10px;
    position: absolute;
    right: 0px;
    bottom: 30px;
    width: 200px;
}

.exit_btn {
    margin: 25px auto auto auto;
    justify-content: center;
    align-items: center;
    width: 200px;
}

.fs_status {
    width: 40px;
}

@media (max-width: 950px) {

    .account_settings {
        /* margin: 0px 10px 90px 10px; */
        margin-bottom: 80px;
        justify-content: center;
        width: calc(100% - 2*10px);
    }

    .title {
        width: 100%;
        padding: 0;
        font-size: 32px;
        margin: 40px auto 30px 0px;
    }

    .general {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }

    .avatar_user {
        width: 100%;
        margin-top: 20px;
    }

    .list {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .h4 {
        margin-top: 0px;
        margin-bottom: 5px;
    }

    .button {
        position: unset;
        margin-top: 30px;
    }
}

@media (max-width: 768px) {

    .title {
        margin: 20px auto 20px 0px;
        padding: 0;
    }

    .info_block {
        display: flex;
        flex-direction: column;
        margin: auto;
        justify-content: center;
        width: 100%;
    }

    .process {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 15px;
        width: 90%;
        position: initial;
        margin: 20px auto 20px auto;
    }

    .exit_btn {
        width: 90%;
    }
}