.section {
    height: 400px;
    align-items: center;
    display: flex;
    margin: 20px 20px 0px 20px;
    justify-content: end;
}

.title {
    width: 100%;
    font-size: 36px;
    align-items: center;
    line-height: 1.08349;
    font-weight: 300;
    color: var(--main-text-color);
    letter-spacing: -.004em;
    display: flex;
    margin: 0px auto 40px 0px;
}

.textbox {
    width: 50%;
    height: 90%;
}

.text {
    width: 90%;
    font-size: 20px;
    line-height: 1.25;
    line-height: 1.3;
    font-weight: 600;
    letter-spacing: .02em;
    color: var(--gray-main);
    margin: 30px auto 40px 0px;
}

.videobox {
    width: 50%;
    height: 90%;
    border-radius: 8px;
    overflow: hidden;
    object-fit: cover;

}

.video {
    width: 100%;
}

.btns {
    margin-top: auto auto auto auto;
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 20px;
}

.span {
    font-weight: 700;
    color: var(--gold);
    font-size: 22px;
}