.header {
    width: 100%;
    height: 50px;
    background-color: rgba(31, 31, 31, .8);
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 10;
    backdrop-filter: saturate(180%) blur(20px);
}

.logo {
    display: flex;
    padding: 0;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    left: 20px;
}

.menu {
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: 100px;
    height: 100%;
}

.panes {
    display: flex;
    flex-direction: row;
}

.login_block {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin: auto;
    position: absolute;
    justify-content: center;
    align-items: center;
    right: 20px;
}

.button {
    padding: 0;
    justify-content: center;
    cursor: pointer;
}

.avatar_btn {
    height: 30px;
    width: 30px;
    padding: 0;
    justify-content: center;
    cursor: pointer;
    border-radius: 30px;
    border: 2px solid var(--main-background);
}

.avatar_btn:hover {
    border: 2px solid var(--hover-blue);
}

.telegram {
    display: flex;
    width: 30px;
    height: 30px;
    padding: 0;
    justify-content: center;
    top: 10px;
    z-index: 2;
}

.icon {
    justify-content: center;
    width: 25px;
    padding: 0;
    display: flex;
    margin: auto;
    align-items: center;
    height: 25px;
    object-fit: contain;
    z-index: 3;
}

.icon:hover {
    opacity: 0.5;
}

/* Маленькие экраны: до 576px */
@media (max-width: 576px) {
    .header {
        height: 60px;
    }

    .items {
        display: flex;
        justify-content: center;
    }

    .panes {
        width: 45%;
        display: flex;
        margin-left: 90px;
        gap: 40px;
    }

    .header {
        bottom: 0px;
    }

    .menu {
        margin: 0px 0px 0px 0px;
    }
}

/* Низкое среднее: от 576px до 768px */
@media (min-width: 576px) and (max-width: 768px) {
    /* Стили для низкого среднего диапазона */
}

/* Средние экраны: от 768px до 992px */
@media (min-width: 768px) and (max-width: 992px) {
    .header {
        bottom: 0px;
    }

    .menu {
        margin: 0px 0px 0px 0px;
    }
}

/* Высокое среднее: от 992px до 1200px */
@media (min-width: 992px) and (max-width: 1200px) {
    /* Стили для высокого среднего диапазона */
}

/* Большие экраны: от 1200px до 1920px */
@media (min-width: 1200px) and (max-width: 1920px) {
    /* Стили для больших экранов */
}

/* Очень большие экраны: более 1920px */
@media (min-width: 1921px) {
    /* Стили для ультрашироких и больших экранов */
}