.tablebox {
    min-width: 100%;
    padding: 0px;
    margin: auto;
}

.table {
    min-width: 100%;
    margin: auto;
    padding: 0px;
    border: none;
}

.tbody {
    padding: 0;
    margin: 0px;
    width: 100%;
}

.head {
    height: 50px;
    border-radius: 10px 10px 0 0;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    /* color: var(--gold); */
    margin: 0px;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 1.25;
    color: var(--gray-main);
    background-color: #252525;
    /* border-bottom: 0.5px solid var(--hover-blue); */
}

.col {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 100%;
    height: 50px;
}


.rows {
    font-size: 12px;
    height: 35px;
    margin: auto;
    width: 100%;
    gap: 5px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--main-background);
    position: relative;
    background-color: rgba(84, 84, 88, 0.25);
}

.item_rows {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(7, 1fr);
}

.rows:hover {
    /* color: var(--hover-blue); */
    background-color: var(--main-background);
}

.rows:last-child {
    border-bottom: none;
    /* border-bottom: 0.5px solid var(--hover-blue); */
    /* Убираем border-bottom у последнего элемента */
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    margin: auto;
    height: 35px;
    width: 100%;
    padding: 0px;
}

.footer {
    display: flex;
    flex-direction: row;
    height: 50px;
    padding-bottom: 0.5px;
    align-items: center;
    gap: 10px;
    justify-content: flex-end;
    background-color: #252525;
    border-radius: 0 0 10px 10px;
}

.pgn_panel {
    display: flex;
    gap: 10px;
    margin-right: 20px;
    align-items: center;
}

.btn {
    width: 20px;
    cursor: pointer;
    font-size: 10px;
    height: 20px;
    border: none;
    border-radius: 7px;
    padding: 0px;
    color: var(--gold);
    background-color: var(--main-background);
    border: 1px solid var(--main-background);
}

.btn:hover {
    border: 0.5px solid var(--gray-main);
}

.btn.active {
    /* background-color: var(--hover-blue); */
    background-color: #4A4A4A;
    /* Цвет для активной кнопки */
    color: white;
    /* Цвет текста для активной кнопки */
}

.btn_action {
    cursor: pointer;
    background: none;
    position: absolute;
    border-radius: none;
    border: none;
    outline: none;
    z-index: 3;
    width: 40px;
    height: 40px;
    top: 50%;
    right: 20px;
    transform: translate(-50%, -50%);
}

.btn_action_mob {
    cursor: pointer;
    background: none;
    border-radius: none;
    border: none;
    outline: none;
    z-index: 3;
}

.btn_action_ {
    cursor: pointer;
    background: none;
    position: absolute;
    border-radius: none;
    border: none;
    outline: none;
    z-index: 3;
    width: 40px;
    height: 40px;
    top: 50%;
    right: 60px;
    transform: translate(-50%, -50%);
}

.btn_action_mob_ {
    cursor: pointer;
    background: none;
    border-radius: none;
    border: none;
    outline: none;
    z-index: 3;
}

.btn_st {
    cursor: pointer;
    background: none;
    position: absolute;
    border-radius: none;
    border: none;
    outline: none;
    z-index: 3;
    width: 40px;
    height: 40px;
    top: 50%;
    right: 100px;
    transform: translate(-50%, -50%);
}

.btn_st_mob {
    cursor: pointer;
    background: none;
    border-radius: none;
    border: none;
    outline: none;
    z-index: 3;
}

.btn_st_mob:hover * {
    fill: var(--hover-blue);
}

.btn_action_:hover * {
    fill: var(--hover-blue);
    /* Замените на нужный цвет */
}

.btn_action_mob_:hover * {
    fill: var(--hover-blue);
    /* Замените на нужный цвет */
}

.btn_st:hover * {
    fill: var(--hover-blue);
}

.btn_action:hover * {
    fill: #FF453A;
    /* Замените на нужный цвет */
}

.btn_action_mob:hover * {
    fill: #FF453A;
    /* Замените на нужный цвет */
}

.info {
    display: flex;
    margin: auto 40px auto auto;
    font-size: 12px;
    color: var(--gray-main);
}

.count {
    display: flex;
    font-weight: 500;
    margin: auto auto auto 10px;
    color: var(--gold);
}

.filter {
    display: flex;
    margin: auto 40px auto auto;
    gap: 10px;
}

.btn_filter {
    cursor: pointer;
    border-radius: none;
    border: none;
    outline: none;
    width: 100px;
    font-size: 12px;
    height: 22px;
    border: none;
    border-radius: 9px;
    padding: 0px;
    color: var(--main-background);
    background-color: var(--gold);
    border: 1px solid var(--main-background);
    cursor: pointer;
}

.btn_filter:hover {
    background-color: var(--hover-blue);
}

.active {
    background-color: var(--hover-blue);
}

.scrlbx {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    gap: 10px;
}

.usercards {
    background-color: #252525;
    width: 100%;
    border-radius: 10px;
    max-height: calc(100vh - 310px);
    min-height: calc(100vh - 310px);
    display: flex;
    flex-direction: column;
    margin: 0px auto auto auto;
}

.card {
    min-height: 70px;
    max-height: 70px;
    width: calc(100% - 2*10px);
    display: flex;
    font-size: 12px;
    border-radius: 8px;
    background: var(--main-background);
    color: var(--gold);
    font-size: 14px;
    margin: 0px auto 0px auto;
    position: relative;
    align-items: center;
}

.card:hover {
    border: 0.5px solid var(--gray-main);
}

.fio {
    padding: 0;
    font-size: 14px;
    margin-left: 15px;
}

.role {
    position: absolute;
    font-size: 8px;
    top: 5px;
    left: 15px;
    color: var(--gray-main);
}

.btnrows {
    display: flex;
    flex-direction: row;
    gap: 10px;
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
}


/* Маленькие экраны: до 576px */
@media (max-width: 576px) {
    .tablebox {
        min-width: 100%;
        padding: 0px;
        margin: auto;
        display: flex;
        justify-content: center;
        max-height: 620px;
        min-height: 620px;
    }

    .table {
        min-width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-height: 620px;
        min-height: 620px;
    }

    .footer {
        display: flex;
        flex-direction: column;
        height: 90px;
        padding-bottom: 0.5px;
        align-items: center;
        justify-content: flex-end;
        background-color: #252525;
        border-radius: 10px;
        position: fixed;
        width: calc(100% - 2*10px);
        bottom: 80px;
        margin: auto;
    }

    .pgn_panel {
        display: flex;
        align-items: center;
        margin: 10px auto 10px auto;
    }

    .filter {
        display: flex;
        margin: 10px auto 0px auto;
    }
}