.item {
    text-decoration: none;
    display: flex;
    padding: 0;
    margin-right: 40px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: left 3s;
    color: var(--main-text-color);
}

.item:hover * {
    color: var(--gold);
    fill: var(--gold);
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 0px;
}

.active * {
    color: var(--gold);
    fill: var(--gold);
}

.icon {
    border: none;
    display: none;
    margin: auto;
    /* margin: 0px;
    padding: 0px; */
    justify-content: center;
    align-items: center;
    object-fit: contain;
}

.title {
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    padding: 0;
    list-style-type: none;
    /* display: none; */
}

/* Маленькие экраны: до 576px */
@media (max-width: 576px) {
    .item {
        display: flex;
        margin: auto;
        justify-content: center;
        align-items: center;
    }

    .title {
        /* display: block; */
        display: none;
        font-size: 9px;
        margin: 0px;
        padding: 0px;
    }

    .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        /* padding: 0px;
        margin: 0px; */
        /* object-fit: contain; */
        /* width: 25px;
        height: 25px; */
    }

    .content {
        display: flex;
        flex-direction: column;
        margin: auto;
        justify-content: center;
        align-items: center;
    }
}

/* Низкое среднее: от 576px до 768px */
@media (min-width: 576px) and (max-width: 768px) {
    /* Стили для низкого среднего диапазона */
}

/* Средние экраны: от 768px до 992px */
@media (min-width: 768px) and (max-width: 992px) {
    /* Стили для средних экранов */
}

/* Высокое среднее: от 992px до 1200px */
@media (min-width: 992px) and (max-width: 1200px) {
    /* Стили для высокого среднего диапазона */
}

/* Большие экраны: от 1200px до 1920px */
@media (min-width: 1200px) and (max-width: 1920px) {
    /* Стили для больших экранов */
}

/* Очень большие экраны: более 1920px */
@media (min-width: 1921px) {
    /* Стили для ультрашироких и больших экранов */
}