.item {
    text-decoration: none;
    display: flex;
    padding: 0;
    margin-right: 40px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: left 3s;
    color: var(--main-text-color);
}

.item:hover * {
    color: var(--gold);
    fill: var(--gold);
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 0px;
}

.active * {
    color: var(--gold);
    fill: var(--gold);
}

.icon {
    border: none;
    display: none;
    margin: 0px;
    padding: 0px;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}

.title {
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    padding: 0;
    list-style-type: none;
    /* display: none; */
}

@media (max-width: 768px) {
    .title {
        /* display: block; */
        display: none;
        font-size: 9px;
        margin: 0px;
        padding: 0px;
    }

    .icon {
        display: flex;
        padding: 0px;
        margin: 0px;
        object-fit: contain;
        width: 30px;
        height: 30px;
    }

    .content {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
}