#root {
  width: 100vw;
  height: 100vh;
  text-align: center;
}

.app {
  padding: 0px;
  margin: 0px;
  width: 100vw;
  height: 100vh;
  font-family: Montserrat;
}


.content {
  width: 100%;
  overflow: scroll;
  height: 100%;
  justify-content: center;
  margin: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.input[type="number"]::-webkit-outer-spin-button,
.input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input[type="number"] {
  -moz-appearance: textfield;
}

.input[type="number"]:hover,
.input[type="number"]:focus {
  -moz-appearance: number-input;
}

.input[type=number]::-webkit-inner-spin-button,
.input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}